
body {
    font-family: 'Poppins', sans-serif;
   
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28B5B5;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}
  
.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #000000;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #28B5B5;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #4B778D;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

.dropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.dropdown-btn:hover {
    color: #000000;
}

.active {
    background-color: #28B5B5;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #4B778D;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* HELP */

.container {
    background-color: #fff;
    border: 1px solid #4B778D;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(75, 119, 141, 30%);
    width: 60%;
    margin: 2% auto;
    padding: 2rem 3rem;
}

span {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

ul {
    padding-left: 20px;
}

.info {
    font-size: 14.5px;
    text-align: justify;
}

.note {
    font-size: 13px;
    text-align: justify;
}


.header {
    color: #4B778D;
    text-align: center;
    margin: 0 0 1.3rem;
  }


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1rem 1.2rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .clicked, .accordion:hover {
    background-color: #dedede; 
  }
  
  .panel {
    padding: 0 1.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

.accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.clicked:after {
    content: "\2796"; 
  }